@import url('https://fonts.googleapis.com/css?family=Arimo|Dosis|Droid+Sans|Fjalla+One|Roboto');

/*swiching of default browser scripts*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: 14px "Roboto", serif;
}
/*Top menu styles*/
header {
    display: flex;
    justify-content: space-between;
    background-color: deeppink;
    color: white;
}
h1{
    padding: 50px;
    font-size: 2em;
    font-family: "Droid Sans Mono Slashed", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    vertical-align: middle;
}

.nav-links {
    vertical-align: top;
    display: flex;
    list-style: none;
}
.navbar li{
    padding: 0.5em 1.5em;
}
.sub-header {
    border: 0.5em solid;
    border-image: 20 repeating-linear-gradient(45deg, rgb(227, 34, 127) 15px,transparent 10px, rgb(235, 68, 179) 20px);

}

.sub-headerNav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.sub-headerNav li {
    padding: 1.5em 1.5em;
}
.sub-Links {
    text-transform: uppercase;
    color: DimGrey;
    font-weight: bold;
}
.main {
    margin: 2% 10%;
    position: relative;
    background-color: palevioletred;
}
.slider {
    background-color: lightpink;
    margin-bottom: 2em;
}
.special-offers {
    padding-top: 2em;
}
.offer {
    width: 33%;
    height: 360px;
    display: inline-block;
    background-color: plum;
}

.footer-area {
    width: 100%;
    height: 7em;
}
.sub-footer {
    height: 2.5em;
    background-color: black;
}
.main-footer {
    display: flex;
    height: 4.5em;
    background-color: darkblue;
}
. navBarFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
